{% extends "base.html" %}

{% block content %}
	
	<div class = "container" style="display: flex;">
			<div class="flex-item" style="flex-grow:1;padding:15px;">
				{% for post in posts %}
				<h3>
					<a href="{{ url_for('fullpost',year=post.timestamp.year,month=post.timestamp.month,day=post.timestamp.day,slug=post.slug) }}">
					{{ post.title }}
					</a><br>
				</h3>
				<span class="badge badge-primary">
					Posted by: {{ post.author.username }} at {{ post.timestamp }}
				</span>
					{{ post.body|safe|truncate(300, True) }}
				{% endfor %}
				<nav aria-label="...">
					<ul class="pager">
						<li class="previous{% if not prev_url %} disabled{% endif %}">
							<a href="{{ prev_url or '#' }}">
								<span aria-hidden="true">&larr;</span> Newer posts
							</a>
						</li>
						<li class="next{% if not next_url %} disabled{% endif %}">
							<a href="{{ next_url or '#' }}">
								Older posts <span aria-hidden="true">&rarr;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class = "fixed" style="width:40%;padding-top: 25px;">
				<div class="sidebar">
					  <nav class="sidebar-nav">
						<ul class="nav" style="text-align: center;">
						{% for k in tags %}
						  <li class="nav-item">
							<a class="nav-link" href="{{ url_for('taggedindex', tag=k.name.replace(' ','-')) }}">
							  <i class="nav-icon cui-speedometer"></i>{{ k.name }}
							</a>
						  </li>
						 {% endfor %}
						</ul>
					  </nav>
		</div>
	</div>

{% endblock %}